<div class="container">
  <div class="title">
    <h2>Sobre mim</h2>
  </div>
  <div class="content">
    <div class="content-img">
      <img src="/assets/perfil.png" alt="Descrição da Imagem">
    </div>
    <div class="text-content">
      Olá, eu me chamo Leandro Zanatta, tenho 25 anos e trabalho como desenvolvedor de Software desde 2021. Sou apaixonado pelo que faço e levo esse trabalho de forma leve e
      feliz.
      <br>
      <br>
      Tenho muita facilidade em aprender novas tecnologias, sempre me atento às regras de negócio de maneira geral para ter novas ideias que possam ajudar a equipe.
      Sou muito proativo e não hesito em reconhecer quando não conheço determinado assunto. No entanto, tenho experiência em aprender e assumo a responsabilidade do que foi
      solicitado. Sempre mantenho uma comunicação clara com meu gestor sobre minhas capacidades e os prazos que geralmente podemos estimar para a entrega das atividades.
      <br>
      <br>
      Atualmente, estou em busca de novas oportunidades como desenvolvedor .NET. Além das habilidades técnicas, estou pronto para contribuir com minha equipe,
      compartilhando o conhecimento que adquiri. No entanto, meu foco principal é me especializar ainda mais como desenvolvedor, buscando aprimorar minhas habilidades e
      conhecimentos na área.
    </div>
  </div>
</div>


