<div class="title-contatos">
  <h2>Redes Sociais | Contatos</h2>
</div>
<div class="contato-content">
  <ul class="dflex-center grid-container">
    <a href="https://www.instagram.com/leandrozanatta_/" target="_blank">
      <li class="icon-comp dflex-center" style="--cor1: #FB3997; --cor2: #FECF12;">
        <fa-icon class="icon" [icon]="faInstagram"></fa-icon>
        <span class="text">Instagram</span>
      </li>
    </a>

    <a href="https://www.linkedin.com/in/leandro-zanatta-464b84165/" target="_blank">
      <li class="icon-comp dflex-center" style="--cor1: #0b518a; --cor2: #86b8e9;">
        <fa-icon class="icon" [icon]="faLinkedin"></fa-icon>
        <span class="text"> Linkedin</span>
      </li>
    </a>

    <a href="https://github.com/Lezanatta" target="_blank">
      <li class="icon-comp dflex-center" style="--cor1: #162fa050; --cor2: #a09e9e88;">
        <fa-icon class="icon" [icon]="faGithub"></fa-icon>
        <span class="text"> Github</span>
      </li>
    </a>

    <a href="https://www.facebook.com/leandro.zanatta.52" target="_blank">
      <li class="icon-comp dflex-center" style="--cor1: #09C5FF; --cor2: #0986FF;">
        <fa-icon class="icon" [icon]="faFacebook"></fa-icon>
        <span class="text"> Facebook</span>
      </li>
    </a>

  </ul>
</div>


<div class="contato-information dflex-center">
  Sinta-se à vontade para entrar em contato com projetos, colaborações ou apenas para dizer olá! Atualmente em busca de novas oportunidades.
  <p>
  Também, pode entrar em contato comigo através de meu email ou telefone.
  <br>
  <br>
  Telefone: <span class="text-important text-gradient" style="--gradient-start: #00357a; --gradient-end: #4793eb;">11 940658024</span>
  <br>
  <br>
  Email: <span class="text-important text-gradient" style="--gradient-start: #00357a; --gradient-end: #4793eb;">leandrozanatta7&gmail.com</span>
</div>
