@import '../../variaveis-cores.scss';

.container-profile{
  width: 100%;
  margin-top: 250px;
}

.content-information {
  width: 30%;
  padding: 3.6em;
  line-height: 2.6em;
  overflow: hidden;

  h2,
  p,
  h4 {
    overflow: hidden;
    margin: 10px 0;
    letter-spacing: .15em;
    white-space: nowrap;
    opacity: 0;
  }

  &.typewriter {

    h2 {
      animation: typing 2s steps(30, end) forwards;
      animation-delay: 1s;
      color: $texto-secundario;
    }

    p, h4 {
      color: $texto-secundario;
      animation: typing 2s steps(30, end) forwards;
    }

    p {
      animation-delay: 3s;
      font-style: italic;
    }

    h4 {
      animation-delay: 5s;
    }
  }

  @keyframes typing {
    0% { width: 0; opacity: 0; }
    100% { width: 100%; opacity: 1; }
  }
}

.content-photo img{
  position: relative;
  width: 350px;
  border-radius: 50%;
  box-shadow: 0 8px 25px #fcfcfcc7;
  animation: flutuar 2s ease-in-out infinite alternate;

  @keyframes flutuar {
    0%{
      top: 0;
    }

    100%{
      top: 10px
    }
  }
}
















