<div class="container-description">
  <div class="description-content">
    <h3>Olá!</h3>
    É um prazer ter você por aqui!
  <br/>
    <p>Me chamo Leandro Zanatta Muchiuti e sou desenvolvedor desde 2021. Estou me especializando em
      <span class="text-gradient" style="--gradient-start: #00357a; --gradient-end: #4793eb;">.NET Framework e .NET Core.</span>
      Constantemente, desenvolvo projetos pessoais, realizo cursos em diversas plataformas, leio livros e documentações para ampliar meu conhecimento a fim de evoluir profissionalmente.
      <br>
    <p>Atualmente, <span class="text-gradient" style="--gradient-start: #00357a; --gradient-end: #4793eb;">estou a procura de uma nova oportunidade</span>,
      qualquer duvida ou sugestão entre em contato comigo através de minhas redes sociais.
    <p><span class="p-information text-gradient" style="--gradient-start: #00357a; --gradient-end: #4793eb;">#contecomigo</span>
  </div>
</div>

