@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap";
@import 'app/variaveis-cores.scss';

*{
  font-family: 'Manrope';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $texto-primario;
}

.dflex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

li{
  list-style: none;
}

a{
  padding: .4em;
  position: relative;
  text-decoration: none;
}

a::after{
  content: " ";
  width: 0;
  height: 1px;
  background-color: $cor-secundaria;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .5s ease-in-out;
}

a:hover::after{
  width: 100%;
}

.text-gradient {
  background-image: linear-gradient(
    to left, var(--gradient-start), var(--gradient-end));
  background-size: 400% 100%;
  animation: degrade-text 10s ease-in-out infinite alternate;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @keyframes degrade-text {
    0%{
      background-position-x: 0%;
    }
    100%{
      background-position-x: 400%;
    }
  }
}

.body-gradient{
  background-image: linear-gradient(
    to left,
    var(--cor1),
    var(--cor2),
    var(--cor3),
    var(--cor4)
  );

  background-size: 400% 100%;
  padding: 1.8em;
  margin: 0 auto;
  animation: degrade-animado 3s ease-in-out infinite alternate;

  @keyframes degrade-animado{
    0%{
      background-position-x: 0%;
    }

    100%{
      background-position-x: 100%;
    }
  }
}
